@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@500;600&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    contain: content;
    font-family: 'Barlow Semi Condensed', serif;
}

body {
    background-color: hsl(210, 46%, 95%);
    font-size: 13px;
}

p {
    color: hsl(0, 0%, 70%, 0.8);
    font-weight: 600;
}

.container {
    width: 90vw;
    margin-right: 5vw;
    margin-left: 5vw;
    margin-top: 10vw;
    margin-bottom: 10vw;
    display: flex;
}

.left {
    width: 67vw;
    margin-right: -0.5rem;
    padding: 0 2.5vw;
}

.left_top {
    display: flex;
    margin-bottom: 1rem;
}

.left_bottom {
    display: flex;
}

.right {
    margin-left: -0.5rem;
    width: 23vw;
    padding: 0 2.5vw;
}

#clifford {
    margin-right: 1rem;
    padding: 2rem;
    background-color: hsl(263, 55%, 52%);
    border-radius: 0.5rem;
    line-height: 1.2rem;
}

#clifford h3,
h4 {
    color: hsl(0, 0%, 85%);
}

#walters {
    line-height: 1.2rem;
    margin-left: 1rem;
    padding: 2rem;
    background-color: hsl(217, 19%, 35%);
    border-radius: 0.5rem;
}

#walters h3,
h4 {
    color: hsl(0, 0%, 85%);
}

#harmon {
    margin-right: 1rem;
    padding: 2rem;
    line-height: 1.2rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
}

#harmon h4,
h3 {
    color: hsl(217, 19%, 35%);
}

#abrams {
    margin-left: 1rem;
    padding: 2rem;
    background-color: hsl(219, 29%, 14%);
    border-radius: 0.5rem;
    line-height: 1.2rem;
}

#abrams h3,
h4 {
    color: hsl(0, 0%, 85%);
}

#kira {
    padding: 1.5rem;
    background-color: hsl(0, 0%, 100%);
    border-radius: 0.5rem;
    line-height: 1.2rem;
}

#kira h4,
h3 {
    color: hsl(217, 19%, 35%);
}

img {
    width: 2.5rem;
    border-radius: 50%;
}

h3 {
    padding: 0.8rem 0;
}

h3,
h4 {
    font-weight: 600;
}

[id$="tag"] {
    display: flex;
    align-items: flex-start;
}

[class^="verified"] {
    display: grid;
    margin-left: 1rem;
}

@media screen and (min-width: 310px) and (max-width: 589px) {
    .container {
        width: 90vw;
        display: grid;
    }

    .left {
        width: 80vw;
        margin-right: 0%;
    }

    .right {
        width: 80vw;
        margin-left: 0%;
    }

    .left_top {
        display: grid;
        padding: 0.5rem;
        width: 80vw;
    }

    .left_bottom {
        display: grid;
        padding: 0.5rem;
        width: 80vw;
    }

    #clifford {
        margin-bottom: 1rem;
        margin-right: 0%;
    }

    #walters {
        margin-bottom: 1rem;
        margin-left: 0%;
    }

    #harmon {
        margin-bottom: 1rem;
        margin-right: 0%;
    }

    #abrams {
        margin-bottom: 1rem;
        margin-left: 0%;
    }
}

@media screen and (min-width: 590px) and (max-width: 789px) {
    .container {
        display: grid;
        width: 90vw;
    }

    .left {
        width: 90vw;
        margin-right: 0%;
    }

    .right {
        width: 90vw;
        margin-left: 0%;
        margin-top: 2rem;
    }

    .left_top {
        display: grid;
        width: 80vw;
    }

    #clifford {
        margin-bottom: 1rem;
        margin-right: 0%;
    }

    #walters {
        margin-bottom: 1rem;
        margin-left: 0%;
    }

    .left_bottom {
        width: 80vw;
        margin-top: 2rem;
    }
}

@media screen and (min-width: 790px) and (max-width: 1159px) {
    .container {
        display: grid;
        width: 90vw;
    }

    .left {
        width: auto;
        margin-right: 0%;
    }

    .right {
        width: auto;
        margin-left: 0%;
    }

    .left_bottom {
        margin-top: 4rem;
    }

    .left {
        width: 90vw;
        padding: 2rem;
    }

    .right {
        width: 90vw;
        padding: 2rem;
    }
}